@model Invitar.Models.Event

@{
    ViewBag.Title = "AddInvitee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddInvitee</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-blue margin-bottom-40">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="icon-tasks"></i> Add </h3>
        </div>
        <div class="panel-body">
            <form class="margin-bottom-40" role="form">
                <div class="form-group">
                    <label for="Inviteelist">Email address</label>
                    @Html.TextArea("inviteelist", new {@rows = "7", @class = "form-control" })
                    
                    @Html.Hidden("eventID",TempData["eventID"])
                </div>
                <input type="submit" value="Submit" name="button" class="btn-u btn-u-blue" />
                 
                @Html.TextBox("txtgmailusername")
                @Html.Password("txtPaswword")

                <input type="submit" value="Import contact from gmail" name="button" class="btn-u btn-u-blue" />
            </form>
        </div>
    </div>
}