@model Invitar.Models.Event
@using Invitar.Models;

@{
    ViewBag.Title = "ViewEvent";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var base64 = Convert.ToBase64String(Model.Image);
    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row portfolio-item margin-bottom-50">
        <!-- Carousel -->
        <div class="col-md-7">
            <div class="carousel slide carousel-v1" id="myCarousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="@imgSrc" height="615" width="973" />
                    </div>
                </div>
            </div>
        </div>
        <!-- End Carousel -->
        <!-- Content Info -->
        <div class="col-md-5">
            <h2>@Model.Title</h2>
            <p>@Model.Location</p>
            <ul class="list-unstyled">
                <li><i class="icon-calendar color-green"></i>@Model.StartDate.ToShortDateString() at @Model.StartTime</li>
            </ul>
            @Html.ActionLink("Invite more?", "AddInvitee", new { eventID  = Model.Id}) <br/> 
            <h2>GUEST LIST</h2>
            <ul class="list-unstyled" >
                <h4 style="background-color:gray;color:white;width:250px;">YES</h4>
                @foreach (var item in Model.Invitees.Where(r => r.Response == InviteResponse.Yes))
                {
                    <li><i class="icon-user"></i> @item.Name</li>
                }
            </ul>
            <ul class="list-unstyled">
                <h4 style="background-color: gray; color: white; width: 250px;">NO</h4>
                @foreach (var item in Model.Invitees.Where(r => r.Response == InviteResponse.No))
                {
                    <li><i class="icon-user"></i> @item.Name</li>
                }
            </ul>
            <ul class="list-unstyled" >
                <h4 style="background-color: gray; color: white; width: 250px;">MAYBE</h4>
                @foreach (var item in Model.Invitees.Where(r => r.Response == InviteResponse.Maybe))
                {
                    <li><i class="icon-user"></i> @item.Name</li>
                }
            </ul>

            <ul class="list-unstyled">
                <h4 style="background-color: gray; color: white; width: 250px;">DID NOT RSVP</h4>
                @foreach (var item in Model.Invitees.Where(r => r.Response == null))
                {
                    <li><i class="icon-user"></i> @item.Name</li>
                }
            </ul>

            

            <h4 style="background-color: gray; color: white; width: 250px;">COMMENTS</h4>

            @foreach (var item in Model.Invitees.Where(r => !string.IsNullOrEmpty(r.Comment)))
            {
                <div class="testimonial-info">
                    <img src="assets/img/testimonials/img1.jpg" alt="">
                    <span class="testimonial-author">
                        @item.Name
                        <em>@item.Comment</em>
                    </span>
                </div>
            }

        </div>
        <!-- End Content Info -->
    </div><!--/row-->

    <div class="col-md-10">

    </div>
}
