@model Invitar.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}

@section Styles {
    <link href="@Url.Content("~/assets/css/pages/page_log_reg_v2.css")" rel="stylesheet" type="text/css"/>
    }
@section JavaScript {
    <script type="text/javascript" src="@Url.Content("~/assets/plugins/countdown/jquery.countdown.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/plugins/backstretch/jquery.backstretch.min.js")"></script>
    <script type="text/javascript">
    $.backstretch([
      "/assets/img/bg/5.jpg",
      "/assets/img/bg/4.jpg",
    ], {
        fade: 1000,
        duration: 7000
    });
</script>
<script type="text/javascript">
    function invokeLogin() {
        var chrome = 100;
        var width = 650;
        var height = 500;
        var left = (screen.width - width) / 2;
        var top = (screen.height - height - chrome) / 2;
        var options = "status=0,toolbar=0,location=1,resizable=1,scrollbars=1,left=" + left + ",top=" + top + ",width=" + width + ",height=" + height;
        window.open("about:blank", "login-popup", options);
    }
</script>
    }
 
<!--<h2>@ViewBag.Title.</h2>-->
<div class="reg-block">
    <div class="reg-block-header">
        <h2>Sign In</h2>
        @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
    </div>
    <section id="loginForm">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="input-group margin-bottom-20">
                <span class="input-group-addon" ><i class="icon-user"></i></span>
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Username" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <label class="checkbox">
                @Html.CheckBoxFor(m => m.RememberMe)
                <p>Always stay signed in</p>
            </label>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <input type="submit" value="Log in" class="btn-u btn-block" />
                </div>
            </div>
        }
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}